*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  --ff-primary: Roboto, sans-serif;
  --ff-secondary: "Roboto Mono", monospace;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #0078aa;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* general properties */

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 5em 2em;
}

/* typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-title-intro {
  font-weight: var(--fw-reg);
}

.section-title-intro strong {
  display: block;
}

.section-subtitle-intro,
.section-subtitle-about {
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

.logo {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
}

/* header section */
.navigation {
  display: none;
}
/* intro section */

.intro {
  position: relative;
}

.intro-image {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-image {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* about me sections */

.about-me {
  background-color: var(--clr-accent);
  background-image: url(../imgs/codebg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.about-me-body {
  margin: 0 auto;
  width: 75%;
  font-family: var(--ff-secondary);
}

/* projects sections */

@media (min-width: 600px) {
  .my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: grid;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "title title title title"
      "img img img img"
      "subtitle subtitle subtitle subtitle"
      "description description description description";
    text-align: center;
  }
  .project-image {
    min-width: 250px;
  }

  .section-title-projects {
    grid-area: title;
    color: var(--clr-accent);
    width: max-content;
    margin: auto;
    margin-bottom: 3rem;
    border-bottom: 3px solid var(--clr-accent);
  }
  .project-image {
    grid-area: img;
  }

  .project-item h3 {
    grid-area: subtitle;
  }

  .project-item p {
    grid-area: description;
  }
}
